
<div class="container">
  <div>
    <mdb-icon fas icon="plane-departure"></mdb-icon><a>   Your Countries:</a>
  </div>
  <hr />
  <div class="scrollbar scrollbar-info">
    <div class="force-overflow">
      <div class="card bg-light continent-container" *ngFor="let continent of myCountries">

        <div class="card-header text-lg-center continent-header">
              {{continent.name}}
        </div>
        <div *ngFor="let region of continent.regions" class="card trip-container">
          <p class=" card-header region-name btn">
            <!--*ngIf="region.countries && region.countries.length"-->
            {{region.name}}  {{region.visitedCountryCount}}/{{region.totalCountryCount}}
          </p>
          <div *ngFor="let country of region.countries">
            <app-my-country-thumbnail [country]="country"></app-my-country-thumbnail>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

